.restaurant-page {
    .container {
        padding: 10px;
    }

    .no-lines {
        border: 0px !important;
    }

    .header-icon-right {
        padding-top: 15px;
        right: 12px;
        position: absolute;
    }
}